/* Group:........ That Helvetica Group
 * Members:...... Scott McKay, Kendyl Freeny, William Cook
 * Institution:.. University of Montana
 * Class:........ Advanced Web Design & Programming
 * Date:......... Saturday, November 24th, 2018
 *
 * Purpose of 'main-menu-desktop.css':
*/

/*............... Cascading Style Sheet for Menu/Settings UI ...............*/

div.Settings-Container.--faded-in
{
  /* Animates transition between --faded-in and --faded-out Settings-Container properties */
  transition-property: opacity;
  transition-duration: 0.10s;

  /* Positioning */
  position: absolute;
  bottom: 0px;

  /* Dimensions */
  width: inherit;
  height: 569px;

  /* Style */
  opacity: 100;
  overflow: hidden;
  white-space: nowrap; /* Prevents text-wrapping as buttons shrink */
  background-color: #ffffff;
}

div.Settings-Container.--faded-out
{
  /* Animates transition between --faded-in and --faded-out Settings-Container properties */
  transition-property: opacity;
  transition-duration: 0.10s;

  /* Positioning */
  position: absolute;
  bottom: 0px;

  /* Dimensions */
  width: inherit;
  height: 569px;

  /* Style */
  opacity: 0;
  overflow: hidden;
  white-space: nowrap; /* Prevents text-wrapping as buttons shrink */
  background-color: #ffffff;
}

  table.Settings-Table
  {
    border-collapse: collapse;
    width: 100%;
  }

  th, td
  {
    text-align: center;
    padding: 8px;
  }

  tr:nth-child(odd)
  {
    background-color: #f2f2f2;
  }

    .button
    {
      border: none;
      color: black;
      padding: 4px 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }

    .button#easy
    {
        background-color: white;
        color: #000000;
        border: 2px solid #00ff00;
    }

    .button#easy:hover
    {
      background-color: #00ff00;
    }

    .button#medium
    {
      background-color: white;
      color: #000000;
      border: 2px solid #ff8000;
    }

    .button#medium:hover
    {
      background-color: #ff8000;
    }

    .button#hard
    {
      background-color: white;
      color: #000000;
      border: 2px solid #ff0000;
    }

    .button#hard:hover
    {
      background-color: #ff0000;
    }

    .button#custom
    {
      background-color: white;
      color: #000000;
      border: 2px solid #938d8d;
      animation: rainbow-border 2s infinite;
    }

    .button#custom:hover
    {
      background-color: #938d8d;
      animation: rainbow-border 2s infinite, teal-buttons 2s infinite;
    }

    @keyframes rainbow-border
    {
      0%   {border-color: #ff0000;}
      10%  {border-color: #ff8000;}
      20%  {border-color: #ffff00;}
      30%  {border-color: #80ff00;}
      40%  {border-color: #00ff00;}
      50%  {border-color: #00ff80;}
      60%  {border-color: #00ffff;}
      70%  {border-color: #0080ff;}
      80%  {border-color: #0000ff;}
      90%  {border-color: #8000ff;}
      100% {border-color: #ff0080;}
    }

    @keyframes teal-buttons
    {
      0%   {background-color: #ffffff;}
      10%  {background-color: #f6feff;}
      30%  {background-color: #d9fffc;}
      20%  {background-color: #98f3ff;}
      40%  {background-color: #7cebff;}
      50%  {background-color: #53e5ff;}
      60%  {background-color: #7cebff;}
      70%  {background-color: #98f3ff;}
      80%  {background-color: #d9fffc;}
      90%  {background-color: #f6feff;}
      100% {background-color: #ffffff;}
    }
